.flex-grid {
    display: flex;
  }
  .col {
    flex: 1;
    height: 21px;	
    width: 274px;	
    color: #000000;	
    font-family: "Raleway ExtraLight";	
    font-size: 16px;
    letter-spacing: 0.73px;	
    line-height: 19px;
  }